* {
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  /* background-color: #f6e3e7; */
  background-color: #fbf2ec;
  /* background: #f1e0d3; */
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: grid;
  text-align: center;
}

i.fab,
i.far {
  color: black;
  text-align: center;
  font-size: 2.5em;
}

section {
  display: flex;
  flex-direction: row;
}

section #left {
  background-color: red;
  width: 50%;
}

section #right {
  background-color: #ffffff;
  width: 45%;
}
/* Technologies */

section #technologies {
  width: 100%;
  background-color: white;
}

/* Footer */

.footer {
  padding: 60px 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.icons li {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  margin-right: 20px;
  padding-right: 70px;
  padding-left: 70px;
}
