* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  /* background-color: #f6e3e7; */
  /* background-color: #fbf2ec; */
  background: #f1e0d3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: grid;
  text-align: center;
}

ul,
p {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
}

i.fab,
i.far {
  color: black;
  text-align: center;
  font-size: 2.5em;
}

section {
  display: flex;
  flex-direction: row;
}

/* Intro */

section #left {
  width: 50%;
}

/* Technologies */

#technologies {
  padding: 50px;
  width: 100%;
  background-color: #fbf2ec;
  align-self: center;
  align-items: center;
}

#technologies h1 {
  text-align: center;
}

#technologies ul {
  padding: 0;
  text-align: center;
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#projects li {
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
}

#projects img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

#projects div {
  width: 35%;
  height: auto;
  text-align: center;
  background-color: #fbf2ec;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* Resume */

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume-sections {
  display: flex;
  flex-direction: row;
}

#resume ul {
  text-align: center;
  padding: 0;
}

/* Footer */

footer {
  padding: 30px 20px;
  background-color: #fbf2ec;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.icons li {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  margin-right: 20px;
  padding-right: 70px;
  padding-left: 70px;
}
